<form id="new-post-form" action="/posts" method="post">
  <label for="image-url">Image URL: </label>
  <input id="image-url" type="text" name="imageUrl" value="">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form>